body {
    font-family: "Inter", sans-serif;
}

main {
    display: flex;
    gap: 5rem;
}

section.board {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    gap: 0.5rem;

    .cell {
        background-color: gray;
        width: 2rem;
        height: 2rem;
    }

    .cell[data-value="1"] {
        background-color: yellow;
    }

    .cell[data-value="ship"].hit {
        background-color: red !important;
    }

    .cell[data-value="ship"].sunk {
        background-color: red !important;
        border-style: solid;
        border-color: black;
        border-width: 5px;
    }
}

/* COMPUTER */
section.board.player-1 {
    .cell:hover {
        cursor: pointer;
    }
}

/* USER */
section.board.player-2 {
    .cell[data-value="ship"] {
        background-color: blue;
    }
}