body {
    font-family: "Inter", sans-serif;
}

main {
    display: grid;
    width: max-content;
    grid-template: 1fr max-content / 1fr 1fr;
    gap: 1rem;
}

section.board {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    gap: 0.5rem;

    .cell {
        background-color: gray;
        width: 2rem;
        height: 2rem;
    }

    .cell[data-value="1"] {
        background-color: yellow;
    }

    .cell[data-value="ship"].hit {
        background-color: red !important;
    }

    .cell[data-value="ship"].sunk {
        background-color: red !important;
        border-style: solid;
        border-color: black;
        border-width: 5px;
    }

    &.disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.6;
    }
}

/* COMPUTER */
section.board.player-1 {
    .cell:hover {
        cursor: crosshair;
    }

    &.disabled .cell:hover {
        cursor: default;
        opacity: 0.6;
    }
}

/* USER */
section.board.player-2 {
    .cell[data-value="ship"] {
        background-color: blue;
    }
}

section.setup {
    grid-column: 2;
}

div.ship-to-place {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .ship {
        /* num of columns determined in JS */
        display: grid;
        gap: 0.5rem;
    }

    .cell {
        height: 2rem;
        width: 2rem;
        background-color: aqua;
    }
    .cell:hover {
        background-color: rgb(0, 129, 129);
        cursor: pointer;
    }

    span {
        font-size: 2.5rem;
    }
    span:hover {
        cursor: pointer;
    }
}
